.untilizationGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 1em;
}

.row {
    display: flex;
    width: 100%;
}

.row.headers {
    border-bottom: 1px solid var(--color-blue-unitrow-building2);
    font-weight: bold;
}

.row:not(.headers) {
    padding: 0.25em 0;
}

.time {
    padding: 0 0.25em;
    min-width: 100px;
}

.header.buildingName {
    border-left: 1px solid var(--color-blue-unitrow-building2);
}

.buildingName {
    border-left: 1px solid transparent;
    padding: 0 0.25em;
    min-width: 200px;
}

.times {
    display: flex;
    flex-direction: row;
}

.times > * {
    font-weight: normal;
    width: 100px;
    padding: 0 0.25em;
    border-left: 1px solid var(--color-blue-unitrow-building2);
}

.units {
    flex: 1;
}

.unit {
    position: absolute;
    background-color: var(--color-blue-unit-bg);
    border-radius: 2px;
    border: 1px solid var(--color-blue-unit-stroke);
    margin: -1px;
    margin-left: calc(var(--start-time-seconds, 0) * (100px / 10) - 1px);
    width: calc(var(--build-time-seconds, 0) * (100px / 10));
    color: var(--color-blue-unit-text);
    padding: 2px 0.25em 0 0.25em;
    font-size: 19px;
    top: 1px;
    bottom: 1px;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.buildingComplete {
    background-color: var(--color-blue-unitrow-building);
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;

    margin-left: calc(var(--start-time-seconds, 0) * (100px / 10));
}

.building {
    background-color: var(--color-blue-unit-bg);
    border-color: var(--color-blue-unit-stroke);
    width: calc(var(--build-time-seconds, 0) * (100px / 10));
    color: var(--color-blue-unit-text);
}

.uploadForm {
    padding: 1rem 0;
}

.replayTitle {
    padding: 2rem 0;
}