html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 4em 3em;
    font-family: 'Helvetica Neue', Helvetica, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    background-color: var(--dark-bg);
    color: var(--red-highlight);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --red-highlight: hsl(355, 100%, 64%);
    --red-highlight-disabled: hsla(355, 39%, 45%, 0.664);
    --dark-bg: rgb(15, 25, 35);
    --color-white-soft: rgba(255, 255, 255, 0.774);
    --color-white: rgba(255, 255, 255, 0.986)
}

header {
    text-align: center;
}

.center {
    text-align: center;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1 {
    font-size: 5rem;
    margin: 0em;
}

h2 {
    font-size: 3rem;
    margin: 0em;
}
