html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 4em 3em;
    font-family: 'Helvetica Neue', Helvetica, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    background-color: var(--color-blue-0);
    color: var(--color-blue-text);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --color-blue-3: hsl(197deg 100% 93%);
    --color-blue-2: hsl(192deg 63% 72%);
    --color-blue-text: hsla(192deg 63% 72% / 1.0);
    --color-blue-0: hsla(212deg 40% 9% / 1.0);
    --color-blue-unit-bg: hsla(206deg 81% 25% / 1.0);
    --color-blue-unit-text: hsla(197deg 100% 93% / 1.0);
    --color-blue-unit-stroke: hsla(180deg 100% 84% / 1.0);
    --color-blue-unitrow-building3: rgb(56, 139, 194);
    --color-blue-unitrow-building2: hsla(204deg 85% 30% / 1.0);
    --color-blue-unitrow-building: hsla(204deg 85% 19% / 1.0);
    --color-white-soft: hsla(0 0% 100% / 0.774);
    --color-white: hsla(0 0% 100% / 0.986);
}

::-webkit-scrollbar {
    /* Track color */
    background-color: var(--color-blue-0);
    height: 6px;
}

::-webkit-scrollbar-thumb {
    /* Thumb color */
    background-color: var(--color-blue-2);
    border-radius: 100px;
}

body {
    scrollbar-color: var(--color-blue-2) var(--color-blue-0);
}

header {
    text-align: center;
}

.center {
    text-align: center;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1 {
    font-size: 5rem;
    margin: 0em;
}

h2 {
    font-size: 3rem;
    margin: 0em;
}