version: '3.4'

services:
  processor:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - STORAGE_CONNECTION_STRING=${STORAGE_CONNECTION_STRING}
      - STORAGE_CONTAINER_NAME_UNPROCESSED=${STORAGE_CONTAINER_NAME_UNPROCESSED}
      - STORAGE_CONTAINER_NAME_PROCESSED=${STORAGE_CONTAINER_NAME_PROCESSED}
